.locations {
  padding: 0 100px;
  height: 500px;
  width: calc(100%-200px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
}

.box1 {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: xx-large;
}

.box2 {
  grid-row-start: 2;
  grid-row-end: 6;
  background-image: url(https://tsiskvili.ge/files/%E1%83%AC%E1%83%98%E1%83%A1%E1%83%A5%E1%83%95%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1-%E1%83%A1%E1%83%90%E1%83%98%E1%83%A2%E1%83%98.png.png);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
  padding: 10px;
  border-radius: 12px;
}

.box3 {
  grid-row-start: 2;
  grid-row-end: 6;
  background-image: url(https://tsiskvili.ge/files/19764_%E1%83%9B%E1%83%AA%E1%83%AE%E1%83%94%E1%83%97%E1%83%902.png.png);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
  padding: 10px;
  border-radius: 12px;
}
.box4 {
  grid-row-start: 2;
  grid-row-end: 6;
  background-image: url(https://tsiskvili.ge/files/jLb9fSAVLmBU.png);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
  padding: 10px;
  border-radius: 12px;
}
.box5 {
  grid-row-start: 2;
  grid-row-end: 6;
  background-image: url(https://tsiskvili.ge/files/E5k2gGjo3cyt.png);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
  padding: 10px;
  border-radius: 12px;
}
.box6 {
  grid-row-start: 2;
  grid-row-end: 6;
  background-image: url(https://tsiskvili.ge/files/FCfi8KSkp3Tu.jpg);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
  padding: 10px;
  border-radius: 12px;
}

@media (max-width: 1023px) {
    .locations {
        display: flex;
        flex-direction: column;
    }
}