.locations {
  background-color: aquamarine;
  padding: 0 100px;
  height: 500px;
  width: calc(100%-200px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box1 {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: xx-large;
}
